<div id="center" class="p-5">
  <h1 class="mb-5">STUPID COACHING</h1>

  <h4 class="mb-3"> <%= @answer %> </h4>

  <div id="images"  class="mb-5"><%= image_tag "#{@photo}", alt: "Le Wagon", width: 200  %></div>

  <%= link_to @link, ask_path %>
</div>
