<div id="center" class="p-5">
  <h1 class="mb-5">STUPID COACHING</h1>

  <h5>Ask your coach anything!</h5>
  <form action="/answer" data-turbo="false" class="input-group mb-3 inpute" >
    <input type="text" name="question" class="w-75 rounded-3 text-size p-3" >
    <input type="submit" value="Ask" class="btn btn-primary border-1 border-dark butaum">
  </form>
</div>
